body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
}

#display {
  color: white;
  font-size: 2rem;
  background-color: #3a3f47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
  width: 50%;
}

.key-display {
  font-size: 3rem;
  margin-top: 10px;
  color: #61dafb;
}

/* Mock Keyboard Styling */
#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 50px;
  background-color: #555;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.key.active {
  background-color: #61dafb;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
}

#display {
  color: white;
  font-size: 2rem;
  background-color: #3a3f47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.key-display {
  font-size: 3rem;
  margin-top: 10px;
  color: #61dafb;
}

/* Mock Keyboard Styling */
#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 50px;
  background-color: #555;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.key.active {
  background-color: #61dafb;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/* Style the music control button */
#toggleMusic {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

#toggleMusic:hover {
  background-color: #4ab1db;
}

/* .main {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
} 
 .col1 {
  flex-direction: column;
  width: 50%;
}
.col2 {
  flex-direction: column;
  width: 50vw;
  background: #4ab1db; 
} */
